<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="myModalLabel">Chi tiết sản phẩm</p>
            </div>
            <div class="modal-body">
                <img src="~/images/loaisanpham/gachmen-1.png" alt="" class="col-xs-5 col-sm-5 col-md-5 col-lg-5" />
                <div class="info col-xs-7 col-sm-7 col-md-7 col-lg-7">
                    <p>
                        <span>mã sản phẩm: </span><span class="masanpham">gmln - 01</span>
                    </p>
                    <p>
                        <span>kích thước: </span>60 x 60 cm
                    </p>
                    <p>
                        <span>chất liệu: </span> Men cao cấp
                    </p>
                    <p>
                        Được thiết kế theo kiểu dáng sang trọng, quý phái của Châu Âu,
                        màu sắc trang nhã, chắc chắn sẽ tạo nên một không gian quý phái sang trọng cho căn nhà của bạn.
                    </p>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>