@{
    ViewBag.Title = "Home Page";
}

<div class="index col-md-12 col-lg-12">
    <div class="ban col-md-12 col-lg-12">
        <div class="text">
            <p class="line-1">Welcome you</p>
            <p class="line-2">long khánh company</p>
        </div>
    </div>
    <div class="prod-vis col-md-12 col-lg-12">
        <div class="prod col-md-7 col-lg-7">
            <div class="col-md-3 col-lg-3">
                <a href="#"></a>
                <img src="~/images/trangchu/product-gachmen.png" alt="" />
                <p class="title">Gạch men cao cấp</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#"></a>
                <img src="~/images/trangchu/product-thietbinhatam.png" alt="" />
                <p class="title">Thiết bị nhà tắm</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#"></a>
                <img src="~/images/trangchu/product-thietbiwc.png" alt="" />
                <p class="title">Thiết bị vệ sinh</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#"></a>
                <img src="~/images/trangchu/product-tranh3d.png" alt="" />
                <p class="title">Tranh 3D nổi</p>
                <p class="content">Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men cao cấp, sang trọng, trang nhã và đầy đủ kiểu dáng, kích cỡ.</p>
            </div>
        </div>
        <div class="vis col-md-5 col-lg-5">
            <p>TẦM NHÌN VÀ CHIẾN LƯỢC CỦA CHÚNG TÔI</p>
            <a href="#">READ MORE</a>
        </div>
    </div>
    <div class="sui-spa-tut-cus col-md-12 col-lg-12">
        <div class="sui col-md-6 col-lg-6">
            <div class="img">
                <p>
                    <span>GÓC TƯ VẤN</span><br />
                    Chúng tôi luôn luôn sẵn sàng tư vấn cho bạn một cách hoàn hảo cho căn nhà của bạn trở lên lộng lẫy hơn bao giờ hết.
                </p>
                <a href="#">read more</a>
            </div>
            <div class="topic">
                <div>
                    <a href="#">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</a>
                    <p>Người tuổi rắn nói ít nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị, sự phân hủy và sự nối tiếp các thế hệ của nhân loại.</p>
                </div>
                <div>
                    <a href="#">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</a>
                    <p>Người tuổi rắn nói ít nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị, sự phân hủy và sự nối tiếp các thế hệ của nhân loại.</p>
                </div>
                <div>
                    <a href="#">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</a>
                    <p>Người tuổi rắn nói ít nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị, sự phân hủy và sự nối tiếp các thế hệ của nhân loại.</p>
                </div>
            </div>
        </div>
        <div class="spa-tut-cus col-md-6 col-lg-6">
            <div class="spa-tut col-md-12 col-lg-12">
                <div class="spa col-md-6 col-lg-6">
                    <a href="#"></a>
                    <p>KHÔNG GIAN ĐẸP</p>
                </div>
                <div class="tut col-md-6 col-lg-6">
                    <a href="#"></a>
                    <p>HƯỚNG DẪN LẮP ĐẶT</p>
                </div>
            </div>
            <div class="cus col-md-12 col-lg-12">
                <p class="col-md-12 col-lg-12">
                    <span>KHÁCH HÀNG VÀ ĐỐI TÁC CỦA CHÚNG TÔI</span><br />
                    Sản phẩm của chúng tôi cung cấp cho nhiều khách hàng và đối tác ở trên khắp vùng miền đất nước. Với hàng trăm đầu mục sản phẩm khác nhau.
                </p>
                <div class="col-md-4 col-lg-4">
                    <a href="#">
                        <img src="~/images/trangchu/doitac-1.png" alt="" /><br />
                        Khách sạn Hạ Long Marine - Equeria
                    </a>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a href="#">
                        <img src="~/images/trangchu/doitac-2.png" alt="" /><br />
                        Nhà hàng SunFlower Japan Rest
                    </a>
                </div>
                <div class="col-md-4 col-lg-4">
                    <a href="#">
                        <img src="~/images/trangchu/doitac-3.png" alt="" /><br />
                        Khách sạn Seaway Thái Bình Dương
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="news col-md-12 col-lg-12">
        <a href="#" class="col-md-4 col-lg-4">
            <img src="~/images/trangchu/baivietmoinhat.png" alt="" /><br />
            <span>GIẢI PHÓNG TRÍ TƯỞNG TƯỢNG CỦA BẠN VỚI KHÔNG GIAN PHÒNG TẮM</span><br />
            Chúng tôi cung cấp cho các bạn những sản phẩm có tính đột phá cao nhất. Giúp bạn thoải mái tư duy và sáng tạo.
        </a>
        <a href="#" class="col-md-4 col-lg-4">
            <img src="~/images/trangchu/baivietmoinhat.png" alt="" /><br />
            <span>GIẢI PHÓNG TRÍ TƯỞNG TƯỢNG CỦA BẠN VỚI KHÔNG GIAN PHÒNG TẮM</span><br />
            Chúng tôi cung cấp cho các bạn những sản phẩm có tính đột phá cao nhất. Giúp bạn thoải mái tư duy và sáng tạo.
        </a>
        <a href="#" class="col-md-4 col-lg-4">
            <img src="~/images/trangchu/baivietmoinhat.png" alt="" /><br />
            <span>GIẢI PHÓNG TRÍ TƯỞNG TƯỢNG CỦA BẠN VỚI KHÔNG GIAN PHÒNG TẮM</span><br />
            Chúng tôi cung cấp cho các bạn những sản phẩm có tính đột phá cao nhất. Giúp bạn thoải mái tư duy và sáng tạo.
        </a>
    </div>
    <div class="proj col-md-12 col-lg-12">
        <p class="col-md-12 col-lg-12">công trình tiêu biểu</p>
        <a href="#" class="col-md-3 col-lg-3">
            <img src="~/images/trangchu/contrinhtieubieu-1.png" alt="" /><br />
            Phòng tắm khách sạn Hạ Long - Marine
        </a>
        <a href="#" class="col-md-3 col-lg-3">
            <img src="~/images/trangchu/contrinhtieubieu-2.png" alt="" /><br />
            Phòng tắm khách sạn Hạ Long - Marine
        </a>
        <a href="#" class="col-md-3 col-lg-3">
            <img src="~/images/trangchu/contrinhtieubieu-3.png" alt="" /><br />
            Phòng tắm khách sạn Hạ Long - Marine
        </a>
        <a href="#" class="col-md-3 col-lg-3">
            <img src="~/images/trangchu/contrinhtieubieu-4.png" alt="" /><br />
            Phòng tắm khách sạn Hạ Long - Marine
        </a>
    </div>
</div>