
@{
    ViewBag.Title = "Loaisanpham";
}

@Html.Partial("Chitietsanpham")

<section class="loaisanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="link col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="slide col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/images/loaisanpham/banner-img.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/loaisanpham/banner-img.png" alt="">
                        </div>
                        <div class="item">
                            <img src="~/images/loaisanpham/banner-img.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="danhmuc col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Gạch men cao cấp</p>
                <div class="cacmuc col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="#">catalogue sản phẩm</a>
                    <a href="#">bộ sưu tập hình ảnh</a>
                    <a href="#">đặt mua hàng ở đâu</a>
                    <a href="#">liên hệ với chúng tôi</a>
                </div>
                <div class="share col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Share on:</p>
                    <a href="#" class="fb"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="tw"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="gp"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="yt"><i class="fa fa-youtube-play"></i></a>
                </div>
            </div>
        </div>
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Chúng tôi sản xuất và cung cấp một phạm vi rộng lớn các loại gạch men, đá cẩm thạch cao cấp, sang trọng và đầy đủ kích cỡ.
            Được lấy cảm hứng từ sự sang trọng và quý phái, Gạch men Long Khánh luôn mang đến cho quý khách những sản phẩm tốt nhất, hoàn hảo nhất và chất lượng nhất.
        </p>
    </div>
    <article class="danhsachsp col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">catalogue sản phẩm</p>
        <div class="cacsanpham col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-1.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-2.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-3.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-4.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-1.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-2.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-3.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <a href="#" data-toggle="modal" data-target="#myModal">
                        <img src="~/images/loaisanpham/gachmen-4.png" alt="" />
                        <p>
                            <span>gmln - 01</span><br />
                            Kích thước: 60 x 60
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="num-page col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </article>
    <article class="bosutap col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">bộ sưu tập hình ảnh</p>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="main col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <img src="~/images/loaisanpham/bosuutap-1.png" alt="" />
            </div>
            <div class="sub col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <div class="col-xs-4 col-sm-12 col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-2.png" alt="" />
                </div>
                <div class="col-xs-4 col-sm-12 col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-3.png" alt="" />
                </div>
                <div class="col-xs-4 col-sm-12 col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-4.png" alt="" />
                </div>
                <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-2.png" alt="" />
                </div>
                <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-3.png" alt="" />
                </div>
                <div class="hidden-xs hidden-sm col-md-6 col-lg-6">
                    <img src="~/images/loaisanpham/bosuutap-4.png" alt="" />
                </div>
            </div>
        </div>
    </article>
</section>

